.page{
    min-inline-size: 320px;
    min-block-size: 100dvb; 
    background-color: var(--background-color, #e0b9e7);
    height: 100vh;
    min-inline-size:340px;
    display: grid;
    margin-block-start: 100px;
    gap:158px;
    margin-inline: clamp(1.25rem, 0.6705rem + 2.7273vw, 3.125rem);
}
/*блок анимации и текста*/
.block_card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline-start: 40px;
    color: var(--color-block_card, #4d074c);
}
.block_text{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    max-width: 601px; 
}
.card_title{
    font-size: clamp(2.125rem, 1.5rem + 2.7778vw, 4rem);
}
.card_text{
    font-size: clamp(1rem, 0.6667rem + 1.4815vw, 2rem);
}
.card_button{
    font-size: var(--font-size-card_text,  2rem);
}
.card_button, .button_like{
    border: none;
    background-color:var(--button-background-color, #4d074c);
    color: #ffffff;
    border-radius: 20px;
    padding-block: 22px;
    padding-inline: 45px;
    cursor: pointer;
}
/*стили всплывающего окна*/
dialog[open] {
  font-weight: var(--font-weight-main, 400);
  width: clamp(341px, 90vw, 353px);
  padding: 0;
  background-color: #631f67;
  border-radius: 50px;
  color: #ffffff;
  padding: 80px;
}
.blok__wrapper{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 40px;
}
.button__dialog{
    padding-inline: 60px;
    padding-block:18px ;
    color: #4d1747;
    border:  #4d1747;
    border-radius: 10px;
    cursor: pointer;
}
dialog::backdrop {
    background-color:var(--dialog-background-color, #4d1747);
    opacity: 75%;
} 
.close-btn {
    position: absolute;
    border: none;
    top: 20px;
    right: 20px;
    color: #000000;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}
.close-btn:hover {
    background-color: var(--close-btn-hover-background-color, #631f67);
}
.animation_svg{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
    margin-inline-end: 140px;
    border: 5px solid #631f67;
    border-radius: 50px;
    padding: 50px;
    box-shadow: var(--animation_svg-box-shadow, 12px -9px 0px 2px #4d1747);
}
.button_svg{
   border: none;
   background-color: #FADBFF;
   border-radius: 10px;
   padding-inline: 34px;
   padding-block: 15px;
   cursor: pointer;
   position: relative;
   background-clip: padding-box;
}
.button_svg:hover{
    box-shadow: 1px 1px 0px 0px  #9f6398;
    color: #ffffff;
    background-color: #e4c4e9;
}
/*блок с карточками*/
.card{
    text-align: center;
    display: flex;
    justify-content: center;
    color: #380c37;
}
.card__type_like_list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: clamp(3.125rem, 1.8823rem + 5.848vw, 5.625rem);
    align-items: stretch;
}
.card__type_like_list_item{
    border: 5px solid #631f67;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    box-shadow: 1px 1px 9px 7px #4d1747;
    width: clamp(25rem, 25rem + 0vw, 25rem);
    animation: shadow-animation 2s infinite;
    animation-timing-function: linear;
}
.card_images{
   border-top-left-radius: var(--border-radius, 50px);
   border-top-right-radius:var(--border-radius, 50px);
   width:100% ;
   height:  clamp(14.375rem, 13.6042rem + 3.4259vw, 16.6875rem);
}
.card_like_text{
    padding-inline: 20px;
    line-height: 130%;
    font-size: clamp(1.4375rem, 1.3443rem + 0.4386vw, 1.625rem);
}
.wrapper_button{
    display: flex;
    align-items: center;
    gap: 14px;
    margin-block-end: 20px;
}
.button_like{
    padding-inline:60px;
    padding-block:20px;
}
.svg_like{
    cursor: pointer;
}
/*подвал*/
.footer{
    display: flex;
    justify-content: center;
    color: #4d074c;
}
.footer_title{
   font-size: clamp(2.5rem, 1.6667rem + 3.7037vw, 5rem);
}
@media(width <=1024px){
.animation_svg{
    display: none;
}
}

